# SilverCore Performance Kernel Tweaks
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles
# Based on spectrum profiles

# Balance (default profile)
on property:fku.perf.profile=0
    setprop persist.spectrum.profile 0

# Performance
on property:fku.perf.profile=1
    setprop persist.spectrum.profile 1

# Battery
on property:fku.perf.profile=2
    setprop persist.spectrum.profile 2

# Gaming
on property:fku.perf.profile=3
    setprop persist.spectrum.profile 3

# Gaming+
on property:fku.perf.profile=4
    setprop persist.spectrum.profile 4
