# SilverCore Spectrum Kernel Tweaks
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

   # Add kernel name
   setprop persist.spectrum.kernel SilverCore

# Balance (default profile)
on property:persist.spectrum.profile=0
   exec u:r:magisk:s0 root root -- /sbin/profile.balance.sh

# Performance 
on property:persist.spectrum.profile=1
   exec u:r:magisk:s0 root root -- /sbin/profile.performance.sh

# Battery
on property:persist.spectrum.profile=2
   exec u:r:magisk:s0 root root -- /sbin/profile.battery.sh

# Gaming
on property:persist.spectrum.profile=3
   exec u:r:magisk:s0 root root -- /sbin/profile.gaming.sh

# Gaming+
on property:persist.spectrum.profile=4
   exec u:r:magisk:s0 root root -- /sbin/profile.gamingplus.sh
